<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SPRINT REPORTER APP</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/form_style.css">

</head>

<body style="padding-top: 70px">
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">User Story Manager - {{ title }}</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/list">Home</a></li>
            </ul>
        </div>
    </nav>
</div>


    <form action="/list" method="post">

    <h3>Story title</h3>
    <div class="input-group">
        <input type="text" class="form-control" name="story_title" placeholder="Story Title"
               aria-describedby="basic-addon1" required value={{user_story.story_title}}>
    </div>

    <h3>Content</h3>
    <div class="input-group">
        <input type="text" class="form-control" name="content" placeholder="User story content"
               aria-describedby="basic-addon1" required value={{user_story.content}}>
    </div>

    <h3>Acceptance criteria</h3>
    <div class="input-group">
        <input type="text" class="form-control" name="acceptance_criteria" placeholder="Acceptance criteria"
               aria-describedby="basic-addon1" required value={{user_story.acceptance_criteria}}>
    </div>

    <h3>Business value</h3>
    <div class="input-group">
        <input type="number" class="form-control" name="business_value" value={{user_story.business_value}}
        min="100" max="1500" step="10"/>
    </div>

    <h3>Estimation</h3>
    <div class="input-group">
        <input type="number" class="form-control" name="estimation" value={{user_story.estimation}}
        min="0.5" max="40" step="0.5"/>
    </div>

    <h3>Status</h3>
    <div class="form-group">
        <div class="col-sm-2">
        <select class="form-control" id="status" name="{{user_story.status}}">
            <option>New</option>
            <option>To Do</option>
            <option>In Progress</option>
            <option>Review</option>
            <option>Done</option>
        </select>
     </div>
     </div>
    <br>
    <br>
    <br>

    <div>
        <button class="btn btn-default btn-sm active" id="save" type="submit">Save</button>
    </div>
     </form>
</body>
</html>